:root {
  --clr-primary: #ffde59e3;
  --clr-secondery: #4d4d5342;
  --clr-tertiary: #e3e3e3;
  --clr-dark: #1c2120;
  --clr-light: #f5f5f5;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Proxima Nova", sans-serif;
  font-weight: var(--fw-normal);
  font-size: 14px;
  background-image: linear-gradient(var(--clr-primary), var(--clr-secondery));
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  line-height: 2;
}
.navbar {
  background-color: var(--clr-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.7rem;
  margin: 0;
  width: 100%;
  min-height: 4.4rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar__logo {
  max-width: 6rem;
}
.navbar__logo img {
  width: 100%;
  height: auto;
  transition: all 2s ease-in-out;
}

#navbar__check {
  display: none;
}
.navbar__btn {
  display: inline-block;
  position: absolute;

  right: 0px;
  top: 0px;
}
.navbar__btn > label {
  display: inline-block;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  padding: 1rem 1.5rem;
}

.navbar__btn > label > span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid var(--clr-light);
}
.navbar__items {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: var(--clr-dark);
  height: 0px;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  top: 50px;
  left: 0px;
}
.navbar__list {
  list-style: none;
  padding-left: 2rem;
}
.navbar__link {
  text-decoration: none;
  color: var(--clr-light);
  font-weight: var(--fw-normal);
}
.navbar__link:hover {
  text-shadow: 0.1rem 0.1rem var(--clr-primary);
  font-weight: var(--fw-bold);
  text-decoration: 2px underline var(--clr-primary);
}
#navbar__check:not(:checked) ~ .navbar__items {
  height: 0px;
  align-items: flex-start;
}
#navbar__check:checked ~ .navbar__items {
  height: calc(30vh);
  overflow-y: auto;
  align-items: flex-start;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
}
.form,
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-dark);
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--clr-light);
  border-radius: 1rem;
  position: relative;
}
fieldset,
.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border: none;
}
legend,
.card__title {
  font-size: 1rem;
  font-weight: var(--fw-black);
  color: var(--clr-dark);
  margin: 1.5rem 0;
  padding-top: 1rem;
  text-align: center;
}
button {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.8em 1.6em;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--clr-primary);
  border-radius: 1em;
  cursor: pointer;
  border-color: var(--clr-light);
  margin-top: 2rem;
  align-self: center;
}
.bnt__clear {
  background-color: #f35656;
  border-color: #f35656;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
button:hover {
  background-color: var(--clr-light);
  color: #000;
}
.input-control {
  display: flex;
  flex-direction: column;
}
.input-control input,
.input-control textarea {
  cursor: pointer;
  border: 2px solid var(--clr-light);
  border-radius: 6px;
  font-size: 12px;
  padding: 8px;
  margin: 0.2rem;
  width: 14rem;
}
.input-control textarea {
  height: 5rem;
}
.input-control input:focus {
  outline: 0;
}

.input-control .error {
  color: #ff3860;
  font-size: 0.8rem;
}
.input-control .label {
  font-weight: var(--fw-bold);
  margin-right: 1.6rem;
}

.input-control .input-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
select {
  cursor: pointer;
  border: 2px solid var(--clr-light);
  border-radius: 6px;
  font-size: 12px;
  padding: 6px 22px 6px 8px;
  margin: 0.2rem;
}
select > option {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.accordion {
  min-width: 80%;
}
.accordion__question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--clr-light);
}
.accordion__question:hover {
  background-color: var(--clr-tertiary);
}

.accordion__question,
.accordion__answer {
  padding: 1rem;
}

.accordion__answer {
  background-color: var(--clr-tertiary);
}

.table td,
.table th {
  padding: 6px;
}
.table tr:hover {
  background-color: var(--clr-tertiary);
}
.table th {
  text-align: left;
}
.table .table__text__center {
  text-align: center;
}
.gif-wrap {
  background-color: inherit;
}

.gif-wrap img {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
}
.footer {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  position: relative;
}
.footer__text {
  text-align: center;
  font-weight: var(--fw-bold);
  padding: 3rem;
}
.footer__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2rem;
}
.footer__icon__h1 {
  color: var(--clr-light);
}

@media (min-width: 576px) {
  .form,
  .card {
    width: 80%;
  }
  legend,
  .card__title {
    font-size: 1.2rem;
  }
  .input-control input,
  .input-control textarea {
    width: 20rem;
  }
  .table td,
  .table th {
    padding: 8px;
  }
}

@media (min-width: 992px) {
  .navbar {
    padding: 0.5rem 5rem;
  }
  .navbar > .navbar__btn {
    display: none;
  }
  #navbar__check:checked ~ .navbar__items {
    height: auto;
    overflow-y: hidden;
  }
  .navbar__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: static;
    overflow-y: visible;
    width: auto;
  }

  .container {
    flex-direction: row;
    align-items: stretch;
  }
  .form,
  .card {
    width: 46%;
  }
}
