:root {
  --clr-primary: #ffffff;
  --clr-secondery: #898c8a;
  --clr-tertiary: #f1bb9c;
  --clr-dark: #17173b;
  --clr-light: #f5f5f5;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: var(--fw-normal);
  font-size: 1rem;
  background-color: var(--clr-primary);
}

.form,
.display_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-dark);
  width: 90%;
  margin: 4rem;
  padding: 2rem;
  background-color: var(--clr-light);
  border-radius: 1rem;
}
